img {
    max-height: 160px;
    max-width: 160px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
}

a {
    text-decoration: none;
}